body{

    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg, rgba(10, 2, 51, 0.9) 0%, rgba(6, 50, 75, 0.9) 100%), url("../img/hero-bg.jpg") center center no-repeat;
    background-size: cover;
    color: cornsilk;
    font-family: "Poppins", sans-serif;
    
}

h4{

    color: rgb(236, 240, 20);
}

h1{
    background-color: rgb(63, 9, 97);
    padding-bottom: 10px;
    margin: auto;
    color: whitesmoke;
    margin: 5px;
    border-radius: 5px;
    padding: 10px 10px;
    
}

#volver{

    color: rgb(231, 247, 11);

}